<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.lautereck.tezos.blue" android:installLocation="auto" android:versionCode="35" android:versionName="0.3.1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="27" />
	<!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
	<!--<permission android:name="de.lautereck.tezos.blue.permission.C2D_MESSAGE" android:protectionLevel="signature" />-->
	<application android:label="tezos.blue">
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="de.lautereck.tezos.blue" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/cache_path" />
		</provider>
	</application>
</manifest>